body {
    width: 1360px;
}

.hero-image {
    background-image: url("../assets/img/hero-mage.png");
    background-position: center;
    background-size: cover;
    height:600px;
}

nav {
    height: 80px;
    background: rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    padding: 0 5%;
}
nav .logo h3 {
    float:left;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 80px;
    color: white;
    padding:0;
    margin:0;
}

nav .right {
    float:right;
}


nav .right li {
    display: inline;
}

nav .right ul .menu {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 80px;
    padding:0 5px;
}

nav .right ul .icon-header {
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 80px;
    letter-spacing: 1px;
    padding:0 5px;
}

nav .right ul {
    margin:0 auto;
}

.hero-text {
    position: absolute;
    bottom:100px;
    left: 70px;
    width:530px;
    overflow: hidden;
    color: white;
}

.hero-text h1 {
    font-family: 'Lora';
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

.hero-text .col1, .hero-text .col2, .hero-text .col3 {
    display:inline-block;
    vertical-align:top;
    padding:0 2px;
}

.hero-text .col3 {
    width:420px;
}

.hero-text hr{
    width: 20px;
}

.hero-text p{
    margin:0 !important;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.hero-text .adventure{
    padding:10px 10px;
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 1px;
}

/* END OF HERO */

.popular-topics {
    padding:60px;
    width: 1210px;
    /* overflow: hidden;
    position: absolute; */
    flex-direction: column
}

.popular-topics h1 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    color: #495057;
}

/* Style the tab */
.tab {
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height, or 208% */
    color: #495057;
  }
  
  .tablinks:first-child {
    padding-left:0;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    color: #D4A373;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: #D4A373;
  }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 0;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
    }

    @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    /* END OF TAB */

    .row-blog {
        display: flex;
      }
      
    .column-blog {
        height: 450px;
        padding-right: 20px;
    }

    .column-blog:last-child{
        padding-right: 0;
    }

    .column-blog .container {
        position: relative;
    }

    .column-blog img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .column-blog .meta {
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #6C757D;
    }

    .column-blog h3 {
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #495057;
    }

    .column-blog .excerpt {
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #6C757D;
    }

    .column-blog .tag {
        padding:10px 10px;
        background-color: rgba(255, 255, 255, 0.15);
        display: inline-block;
        border-radius: 8px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        float: right;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1000;
        color:white;
    }

    /* END OF BLOG TAB */

    .big-post {
        width: 100%;
        height: 600px;
    }

    .big-post img {
        width: 100%;
        position: relative;
        opacity: 0.5;
    }

    .content-big-post {
        background-color: #343A40;
        background-size: cover;
        width: 100%;
        height: 100%;
    }