* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    width:100%;
    position: relative;
    /* width:100%; */
}

.container {
  max-width:1440px;
  margin:0 auto;
}

.container__hero {
  background-position: center;
  background-size: cover;
  height: 600px;
}

.hero__home {
  background-image: url("../assets/img/hero-image-home.png");
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
nav .logo h3 {
  font-family: "Spartan";
  font-weight: 700;
  font-size: 20px;
  color: white;
}

nav .menu {
  display: flex;
  justify-content: space-evenly;
  gap:15px;
}

nav .menu li {
  display: inline;
}

nav .menu ul .menu__item {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  padding: 0 5px;
}

nav .menu ul .icon-header {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav .menu .vl {
  border-left: 0.5px solid #E5E5E5;
}

.menu img {
  width: 16px;
  filter: invert(93%) sepia(93%) saturate(28%) hue-rotate(105deg) brightness(107%) contrast(106%);
}

.hero-text {
  width: 670px;
  overflow: hidden;
  color: white;
  padding:140px 70px;
}

.hero-text-lb {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.post-cat {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: auto;
}

.hero-text .row hr {
  width:30px;
}

h1 {
  font-family: "Lora";
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin:5px 0;
}

.hero-text .row{
  display: flex;
  align-items: center;
  gap:10px;
}

.hero-text .col3 {
  width: 420px;
}

.hero-text p {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}



/* END OF HERO */


/* POPULAR TOPICS */


#popular-topics {
  background-color: #E5E5E5;
}

  .popular-topics {
  padding: 100px  70px;
  /* overflow: hidden;
    position: absolute; */
  flex-direction: column;
}

.popular-topics h1 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  /* identical to box height */
  color: #495057;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  /* identical to box height, or 208% */
  color: #495057;
}

.tab__links:first-child {
  padding-left: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #d4a373;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #d4a373;
}

/* Style the tab content */
.tab__content {
  display: none;
  padding: 6px 0;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* END OF TAB */

/* .blog__row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;

} */

.blog__column:last-child {
  padding-right: 0;
}

.bg--white {
  background-color: white;
}

.blog__column .container {
  position: relative;
}

.blog__column {
  overflow: hidden;
  /* width: 23.5%; */
}

.blog__content {
  padding:20px 0;
  align-items: center;
  color: #3c4146;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  /* font-size: 14px; */
  line-height: 23px;
}

.blog__column img {
  width: 100%;
  height: auto;
  display: block;
}

.radius-5 {
  border-radius: 5px;
}

.pad-10 {
  padding:10px;
}

.blog__column .meta {
  display: flex;
  font-size: 12px;
  margin-bottom:12px;
}

.blog__column h3 {
  margin-bottom:12px;
}

.blog__column .excerpt {
  margin-bottom:12px;
  font-size: 12px;
  /* text-align: justify; */
}

.blog__column .tag {
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.15);
  /* display: inline-block; */
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
  color: white;
}



.blog__hr {
  border: 0.5px solid #E5E5E5;
}

/* END OF BLOG TAB */

/* SECTION BIG POST */
#big-post {
  height: 600px;
  position: relative;
  /* background-size: contain; */
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(52, 58, 64, 0.4);
  height: 100%;
}

#big-post img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content-big-post {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-big-post .text {
  text-align: center;
  color: white;
  opacity: 1;
  font-family: "Lora";
  font-style: normal;
  width:40%;
  line-height: 1.5;
}

.h_line {
    border-bottom: 1px solid white;
    width: 50px;
    margin: 20px auto;
}

.text-big-post p {
    font-size: 12px;
}


/* Section big post */

.editor-picks {
    padding: 140px 70px;
    /* width: 100%; */
  }

  h1.editor {
      color:#495057;
  }
  
.blog__row {
    /* display: flex;
    justify-content: space-around;
    gap: 20px; */
    display: grid;
    width: 100%;
}



.blog-editor {
    position: relative;
    overflow: hidden;
    /* width: 640px; */
    height: 355px;
    border-radius: 10px;
    vertical-align: middle;

}

.blog__image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-editor .overlay {
    background-color: #343a402f;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    padding:20px;
    box-sizing: border-box;
    color: white;
}

.float-right {
  display: flex;
  justify-content: flex-end;
  left: 0;
  gap:10px;
}

.blog-editor .overlay .cat-blog {
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 1px;
}

.blog-editor .overlay .content-blog {
    position: absolute;
    bottom: 20px;
    margin-right: 10px;
    font-family: "Lora";
    font-style: normal;
    line-height: 1.6;
}

.content-blog p, .content-blog h3 {
    margin-bottom:10px;
}

.content-blog p {
    font-size: 12px;
}

/* Footer */

.footer {
  color:white;
  height:400px;
  padding: 106px 70px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

h3.footer__heading {
  font-family: "Lora";
  line-height: 1.6;
  margin-bottom: 16px;
  font-size: 18px;
}

.footer__txt {
  font-family: "Lora";
  line-height: 1.6;
  font-size: 14px;
  color: #E5E5E5;
  margin-bottom: 16px;
  line-height: 20px;
}

.footer__col-1 {
  width: 188px;
}

.footer__col-2 {
  width: 120px;
}

.footer__col-3 {
  width: 140px;
}

.footer__col-4 {
  width: 190px;
}

.footer__social img {
  width: 15px;
  height: 15px;
  filter: invert(93%) sepia(93%) saturate(28%) hue-rotate(105deg) brightness(107%) contrast(106%);
  margin-right: 10px;
}

/* SUB FOOTER */

.sub-footer {
  padding:31px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.sub-footer__col {
  font-family: 'Lora';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;  
  color: #E5E5E5;
}

/* HALAMAN ARTIKEL */

/* Hero */

.hero__article {
  background-image: url("../assets/img/hero-image-article.jpg");
}

/* Blog */


.blurb {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  margin-top: 20px;
}

.avatar {
  width: 50px;
}

.rounded {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blurb .name, .blurb .position {
  font-family: 'Lora';
  font-size: 14px;
  color: #495057;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* HALAMAN SINGLE BLOG */

/* Hero */
/* body#single-blog #hero {
  height: 660px;
} */
.hero__single-blog {
  background-image: url("../assets/img/hero-image-single-blog.jpg");
}

.hero-text-center {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  text-align: center;
}

.hero-text p .excerpt {
  padding: 130px 0;
}

/* Single Blog - Main Area */
#single-blog #main__area {
  background: #F8F9FA;
}

#single-blog #main__area .container {
  display: flex;
  padding: 100px 290px 96px 70px;
  gap: 50px;
}

#single-blog .left-content .content__detail {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  color: #495057;
  display: flex;
  gap: 10px;
  /* height: 25px; */
  align-items: center;
  width: 170px;
}

#single-blog .content__post {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #495057;
  margin-bottom: 50px;
}

#single-blog .content__post span {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #D4A373;
  display: block;
}

#single-blog .content__info {
  display: flex;
  flex-direction: column;
  gap:50px;
}

#single-blog .content__tags {
  display: flex;
  gap:10px;
}

#single-blog .post-cat {
background-color: transparent;
border: 1px solid #E5E5E5;
}

.content__info hr {
  width:100%;
  border: 0.5px solid #eee;  
}

.content__detail hr {
  width:30px;
}

#single-blog .content__author {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: stretch;

}

#single-blog .share-social-media {
  width: 15px;
  height: 15px;   
  filter: invert(29%) sepia(5%) saturate(1081%) hue-rotate(169deg) brightness(91%) contrast(83%);
  display: flex;
  gap:20px;
  justify-content: flex-start;
}

#single-blog .blurb {
  grid-template-columns: 1fr 7fr; 
}

/* PUBLIC */

.flex {
  display: flex;
}

.gap-15 {
  gap:15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mr-top-auto {
  margin-top:auto;
}

.grid-blog-4-col {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-blog-3-col {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.grid-blog-2-col {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.bg-header {
  background: rgba(0, 0, 0, 0.2);
}

.bg-footer {
  background-color: #212529;
}

.bg-sub-footer {
  background-color: #343A40;
}

/* COBA HAMBURGER */
.parent__menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.parent__menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 640px) {

  /* Menu Header */
  .menu .vl , .menu .menu__social, .menu .search-icon {
    display: none;
  }
  .menu-button-container {
    display: flex;
  }
  .parent__menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .parent__menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .parent__menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .parent__menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .parent__menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  /* Hero Section */

  .container__hero {
    height: 500px;
  }

  .hero-text {
    width: 100%;
    overflow: hidden;
    color: white;
    padding: 20px;
    justify-content: flex-end;
    height: 80%;
  }

  .hero-text .row {
    /* display: flex; */
    align-items: flex-start;
    flex-direction: column;
    gap:10px;
    justify-content: flex-end;
  }

  .hero-text .row hr {
    width:30px;
  }

  .hero-text .col3 {
  width: 100%;
  }

  h1 {
  font-size: 24px;
  line-height: 1.5em;
  }

  /* Popular topics */

  .popular-topics h1 {
    font-size: 24px;
    line-height: 1.5em;
    }

    .popular-topics {
    padding: 20px  10px;
  }

  .tab button {
    padding: 7px;
  }

  .grid-blog-4-col {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .blog__column h3 {
    font-size:16px;
  }

  .blog__column .meta , .blog__column h3 , .blog__column .excerpt  {
    margin-bottom:5px;
  }

/*  Big Post  */

  .big-post {
    height: 400px;
  }
  .content-big-post .text {
    width: 80%;
  }

  /* Editor Picks */

  .editor-picks {
    margin: 70px 20px;
  }

  .grid-blog-3-col {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }

  .content-blog h3.title-blog {
    font-size: 16px;
  }

  .content-blog p, .content-blog h3 {
    margin-bottom: 5px;
}

  /* Footer */

  .footer {
    color: white;
    height: auto;
    padding: 50px 30px;
  }

  .footer__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }

  .footer__col-3 {
    width: 100%;
}

  .sub-footer {
    padding: 15px 30px;
  }

  .sub-footer__col {
    font-size: 10px;
  }


  /* PAGE ARTIKEL */

  #article-blog .grid-blog-4-col {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}

  #article .blurb {
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  }

  .grid-blog-2-col {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 20px;
  }

  .blog-editor {
    height: 250px;
  }

  /* Single Page Artikel */
  #single-blog #main__area .container {
      padding: 30px;
      gap: 20px;
      flex-wrap: wrap;
  }

  #single-blog .hero-text {
    justify-content: center;
  }

  #single-blog .post-cat {
    margin-top: 0 ;
  }

  #single-blog .content__post span {
    font-size: 24px;
    line-height: 1.5em;
}

#single-blog .content__author {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

#single-blog .blurb {
  grid-template-columns: 1fr 4fr; 
}
}

@media (max-width: 768px) {

  /* HALAMAN INDEX */
  .grid-blog-4-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__content {
    padding: 10px 0;
  }

  .blog__column .meta, .blog__column h3 {
    margin-bottom: 7px;
  }

  #big-post {
    height: 400px;
  }

  .content-big-post .text {
    width: 70%;
  }

  .grid-blog-3-col {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }

  .footer {
    padding: 50px 30px;
    height: auto;
  }

  .sub-footer {
    padding: 31px 30px;
}

/* HALAMAN ARTIKEL */

#article .blog__content {
  padding: 10px;
}

.grid-blog-2-col {
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
}

/* HALAMAN SINGLE BLOG */

.container__hero {
  height: 450px;
}

#single-blog #main__area .container {
  padding: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-text-center {
  height: 370px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.editor-picks {
  padding: 70px 30px;
}

}



